PORT=3001
NODE_ENV=development

#I18n
fallbackLanguage=ar

# DB
MONGO_URI=mongodb://localhost:27018/airbnbDB

# JWT
JWT_SECRET=themostsecretkey
ACCESS_TOKEN_EXPIRE_IN=7d
REFRESH_TOKEN_EXPIRE_IN=30d

#logs
LOG_LEVEL=debug

# SUPER SYSTEM ADMIN DATA
SYSTEM_ADMIN_NAME=Super Admin
SYSTEM_ADMIN_EMAIL=superadmin@airbnb.com
SYSTEM_ADMIN_PASSWORD=SuperAdmin123

# MAIL Integration
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_SERVICE=
SMTP_FROM="StayHub Dev" <no-reply@stayhub.local>
SMTP_AUTH_EMAIL=
SMTP_AUTH_PASS=